<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915756950064-jsok7164b090lu9frgvdksbeb2ghqc58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915756950064-jsok7164b090lu9frgvdksbeb2ghqc58</string>
	<key>API_KEY</key>
	<string>AIzaSyAuZ0BRbEY3pOexWSBK13bJqmRLDraM998</string>
	<key>GCM_SENDER_ID</key>
	<string>915756950064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.covidcapstone</string>
	<key>PROJECT_ID</key>
	<string>naggapwam-covid-tracing</string>
	<key>STORAGE_BUCKET</key>
	<string>naggapwam-covid-tracing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915756950064:ios:d0a71207e45793e31e43f5</string>
	<key>DATABASE_URL</key>
	<string>https://naggapwam-covid-tracing-default-rtdb.firebaseio.com</string>
</dict>
</plist>